extends layout

block content
  .container.search
    if specialSearch
      h3.search-title Courses under category "#{term}"
    else
      h3.search-title Search Results for "#{term}"
    .col-lg-3.col-md-3.hide-small.options-col
      input(type="hidden", name="term", value="#{term}")
      each value,key in filterObject
        ul(title="#{key}")
          each filterOption in value
            if filterOption.disabled
              li.disabled
                input(type="#{filterOption.type}", name="#{filterOption.name}", disabled="#{filterOption.disabled}") 
                | &nbsp;#{filterOption.name} (#{filterOption.count})
            else
              li
                input(type="#{filterOption.type}", name="#{filterOption.name}") 
                | &nbsp;#{filterOption.name} (#{filterOption.count})
    .col-lg-9.col-md-9.col-sm-12.content-col
      .row
        .col-lg-8.col-md-8.col-sm-10
          h5 Course Information
        .col-lg-2.col-md-2.hide-small
          h5 Start Date	
        .col-lg-2.col-md-2.hide-small
          h5 Rating
      each course in courseList
        - var classes = 'row course-card grow '+course.tags;
        div(class=classes)
          .col-lg-8.col-md-8.col-sm-12
            h5.course-institiution #{course.institution}
            h4.course-title 
              a(href="#{course.url}", target="_blank") #{course.name}
            p.course-details 
              if course.platform
                | #{course.platform}
              if course.effort   
                | , #{course.effort}
              if course.duration
                | , #{course.duration}
          .col-lg-2.col-md-2.col-sm-12
            if course.selfPaced
              p Self Paced
            else
              p.course-date #{course.startDate}
          .col-lg-2.col-md-2.col-sm-2.col-sm-12
            each val in [1,2,3,4,5]
              if val <= course.rating
                span.fa.fa-star.checked
              else
                span.fa.fa-star
            p #{course.reviews} reviews
